*.err
*.out

# Byte-compiled
__pycache__/

# data files
data/

# model files
models/

# imputed data files
impute/

# ignore Virtual environment
.venv/
# Ignore backups
deloitte_team/single_table_synthesis/workspace/*.bkp
